/* css */

html {
  font-family: 'Helvetica Neue', Helvetiva, Arial, sans-serif;
}

canvas {
	outline: none;
	background-color: white;
}

#workplace {
	z-index: 1;
	position: absolute;
}

#controls {
	position: absolute;
	left: 20px;
	top: 20px;
	text-align: center;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.5);
}

#scale {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    text-align: center;
}

#measurement {
    border-left: solid 2px black;
    border-right: solid 2px black;
    width: 100px;
}

.button {
	background-color: #C5C5C5;
/*	border: solid 1px black; */
  border-radius: 2px;
  padding: 1px;
  font-weight: bold;
  color: #222;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	width: 100px;
}

.button:hover {
	background-color: #888;
}
.button:focus {
	background-color: #888;
}

.button:active {
	background-color: #CCC;
}

.square {
	min-width: 10px;
	min-height: 10px;
	width: auto;
	height: auto;
}

.selected {
	background-color: #CCC;
}

.asdf:hover {
	background-color: yellow;
}

#opts1, #opts2, #opts3 {
	display: none;
}
